Repository natanim-kemal/rem: changes, and which lefthook commands are due for each by the changed paths.
All: clean-dart-comments, dart-format, dart-analyze, clean-js-comments

lefthook.yml:

# lefthook.yml - Git hooks configuration
# Install: npm install lefthook --save-dev
# Setup: npx lefthook install

pre-commit:
  parallel: true
  commands:
    # Clean TODO/FIXME comments from staged Dart files
    clean-dart-comments:
      glob: "*.dart"
      run: |
        powershell -Command "
          $files = git diff --cached --name-only --diff-filter=ACM | Where-Object { $_ -match '\.dart$' }
          foreach ($file in $files) {
            if (Test-Path $file) {
              $content = Get-Content $file -Raw
              # Remove TODO, FIXME, HACK comments
              $cleaned = $content -replace '//\s*(TODO|FIXME|HACK|XXX):?[^\r\n]*[\r\n]?', ''
              # Remove empty comment lines
              $cleaned = $cleaned -replace '//\s*$[\r\n]?', ''
              Set-Content $file $cleaned -NoNewline
              git add $file
            }
          }
        "
      
    # Format Dart code
    dart-format:
      glob: "*.dart"
      run: cd apps/mobile && dart format {staged_files}
      
    # Analyze Dart code
    dart-analyze:
      glob: "*.dart"
      run: cd apps/mobile && dart analyze --fatal-infos {staged_files}

    # Clean JS/TS comments (for extension)
    clean-js-comments:
      glob: "*.{js,ts}"
      run: |
        powershell -Command "
          $files = git diff --cached --name-only --diff-filter=ACM | Where-Object { $_ -match '\.(js|ts)$' }
          foreach ($file in $files) {
            if (Test-Path $file) {
              $content = Get-Content $file -Raw
              # Remove TODO, FIXME comments
              $cleaned = $content -replace '//\s*(TODO|FIXME|HACK|XXX):?[^\r\n]*[\r\n]?', ''
              Set-Content $file $cleaned -NoNewline
              git add $file
            }
          }
        "

# Optional: commit message validation
commit-msg:
  commands:
    conventional-commit:
      run: |
        powershell -Command "
          $msg = (Get-Content .git/COMMIT_EDITMSG -Raw).Trim()
          
          # Check conventional commit format
          if ($msg -notmatch '^(feat|fix|docs|style|refactor|test|chore)(\(.+\))?:') {
            Write-Error 'Commit must start with: feat|fix|docs|style|refactor|test|chore'
            exit 1
          }
          
          # Check lowercase (after the type prefix)
          $body = $msg -replace '^(feat|fix|docs|style|refactor|test|chore)(\(.+\))?:\s*', ''
          if ($body -cmatch '[A-Z]') {
            Write-Error 'Commit message must be all lowercase'
            exit 1
          }
          
          Write-Host 'Commit message OK âœ“'
        "

feat: initialize convex backend schema and functions
  convex.json
  convex/auth.config.ts
  convex/items.ts
  convex/schema.ts
  convex/users.ts
Due: clean-js-comments

feat: add browser extension initial implementation
  extension/background.js
  extension/content.js
  extension/manifest.json
  extension/popup.html
  extension/popup.js
Due: clean-js-comments

feat(mobile): add mobile app project structure and config
  apps/mobile/.gitignore
  apps/mobile/README.md
  apps/mobile/analysis_options.yaml
  apps/mobile/android/.gitignore
  apps/mobile/android/app/build.gradle.kts
  apps/mobile/android/app/src/debug/AndroidManifest.xml
  apps/mobile/android/app/src/main/AndroidManifest.xml
  apps/mobile/android/app/src/main/kotlin/dev/rem/rem/MainActivity.kt
  apps/mobile/android/app/src/main/res/drawable-v21/launch_background.xml
  apps/mobile/android/app/src/main/res/drawable/launch_background.xml
  apps/mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  apps/mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  apps/mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  apps/mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  apps/mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  apps/mobile/android/app/src/main/res/values-night/styles.xml
  apps/mobile/android/app/src/main/res/values/styles.xml
  apps/mobile/android/app/src/profile/AndroidManifest.xml
  apps/mobile/android/build.gradle.kts
  apps/mobile/android/gradle.properties
  apps/mobile/android/gradle/wrapper/gradle-wrapper.properties
  apps/mobile/android/settings.gradle.kts
  apps/mobile/assets/images/rem-bg.png
  apps/mobile/assets/images/rem_logo.png
  apps/mobile/flutter_launcher_icons.yaml
  apps/mobile/pubspec.yaml
Due: none

feat(mobile): implement mobile app logic and ui
  apps/mobile/lib/core/config/app_config.dart
  apps/mobile/lib/core/services/convex_client.dart
  apps/mobile/lib/data/database/database.dart
  apps/mobile/lib/data/sync/sync_engine.dart
  apps/mobile/lib/main.dart
  apps/mobile/lib/presentation/screens/auth_screen.dart
  apps/mobile/lib/presentation/screens/home_screen.dart
  apps/mobile/lib/presentation/screens/profile_screen.dart
  apps/mobile/lib/presentation/screens/search_screen.dart
  apps/mobile/lib/presentation/screens/shell_screen.dart
  apps/mobile/lib/presentation/screens/stats_screen.dart
  apps/mobile/lib/presentation/theme/app_theme.dart
  apps/mobile/lib/presentation/widgets/add_item_sheet.dart
  apps/mobile/lib/presentation/widgets/filter_chips.dart
  apps/mobile/lib/presentation/widgets/item_card.dart
  apps/mobile/lib/presentation/widgets/search_bar.dart
  apps/mobile/lib/providers/auth_provider.dart
  apps/mobile/lib/providers/data_providers.dart
  apps/mobile/lib/providers/theme_provider.dart
  apps/mobile/test/widget_test.dart
Due: clean-dart-comments, dart-format, dart-analyze

refactor: cleanup background.js
  extension/background.js
Due: clean-js-comments

refactor: cleanup content.js
  extension/content.js
Due: clean-js-comments

refactor: cleanup popup.js
  extension/popup.js
Due: clean-js-comments

chore: fix lefthook configuration for windows
  lefthook.yml
  scripts/validate-commit-msg.ps1
Due: none

fix(ci): update workflow for compatibility
  .github/workflows/ci.yml
Due: none

style: format dart code
  apps/mobile/lib/core/services/convex_client.dart
  apps/mobile/lib/data/database/database.dart
  apps/mobile/lib/data/sync/sync_engine.dart
  apps/mobile/lib/main.dart
  apps/mobile/lib/presentation/screens/auth_screen.dart
  apps/mobile/lib/presentation/screens/home_screen.dart
  apps/mobile/lib/presentation/screens/profile_screen.dart
  apps/mobile/lib/presentation/screens/search_screen.dart
  apps/mobile/lib/presentation/screens/shell_screen.dart
  apps/mobile/lib/presentation/screens/stats_screen.dart
  apps/mobile/lib/presentation/theme/app_theme.dart
  apps/mobile/lib/presentation/widgets/add_item_sheet.dart
  apps/mobile/lib/presentation/widgets/filter_chips.dart
  apps/mobile/lib/presentation/widgets/item_card.dart
  apps/mobile/lib/providers/auth_provider.dart
  apps/mobile/lib/providers/data_providers.dart
  apps/mobile/lib/providers/theme_provider.dart
  lefthook.yml
Due: clean-dart-comments, dart-format, dart-analyze

chore: add workflow dispatch trigger
  .github/workflows/ci.yml
Due: none

fix: update convex ci to skip codegen requirement
  .github/workflows/ci.yml
Due: none

feat: add a script to validate commit message format and casing
  scripts/validate-commit-msg.ps1
Due: none

fix: make flutter analyze non-blocking in ci
  .github/workflows/ci.yml
Due: none

fix(mobile): resolve flutter 3.24 deprecation warnings and strict analysis
  .github/workflows/ci.yml
  apps/mobile/lib/presentation/screens/profile_screen.dart
  apps/mobile/lib/presentation/screens/shell_screen.dart
  apps/mobile/lib/presentation/theme/app_theme.dart
  apps/mobile/lib/presentation/widgets/add_item_sheet.dart
  apps/mobile/lib/presentation/widgets/filter_chips.dart
Due: clean-dart-comments, dart-format, dart-analyze

fix(ci): restore proper convex ci steps
  .github/workflows/ci.yml
  apps/mobile/lib/presentation/widgets/add_item_sheet.dart
Due: clean-dart-comments, dart-format, dart-analyze

fix(ci): add flutter build_runner generation step
  .github/workflows/ci.yml
Due: none

fix(ci): provide convex auth token
  .github/workflows/ci.yml
Due: none

chore(mobile): update build.gradle.kts
  apps/mobile/android/app/src/main/AndroidManifest.xml
  apps/mobile/android/build.gradle.kts
Due: none

chore(mobile): add devtools_options.yaml
  apps/mobile/devtools_options.yaml
Due: none

feat(mobile): add share_service.dart
  apps/mobile/lib/core/services/metadata_service.dart
  apps/mobile/lib/core/services/share_service.dart
  apps/mobile/lib/presentation/screens/home_screen.dart
Due: clean-dart-comments, dart-format, dart-analyze

feat(mobile): update shell_screen.dart
  apps/mobile/lib/presentation/screens/item_detail_screen.dart
  apps/mobile/lib/presentation/screens/shell_screen.dart
  apps/mobile/lib/presentation/theme/app_theme.dart
Due: clean-dart-comments, dart-format, dart-analyze

feat(mobile): update filter_chips.dart
  apps/mobile/lib/presentation/widgets/add_item_sheet.dart
  apps/mobile/lib/presentation/widgets/filter_chips.dart
  apps/mobile/lib/presentation/widgets/item_card.dart
  apps/mobile/pubspec.yaml
Due: clean-dart-comments, dart-format, dart-analyze

feat(mobile): update app theme with new colors
  apps/mobile/lib/presentation/theme/app_theme.dart
Due: clean-dart-comments, dart-format, dart-analyze

feat(mobile): enhance add item sheet functionality
  apps/mobile/lib/presentation/widgets/add_item_sheet.dart
Due: clean-dart-comments, dart-format, dart-analyze

feat(mobile): update home screen ui
  apps/mobile/lib/presentation/screens/home_screen.dart
Due: clean-dart-comments, dart-format, dart-analyze

feat(mobile): add item detail screen
  apps/mobile/lib/presentation/screens/item_detail_screen.dart
Due: clean-dart-comments, dart-format, dart-analyze

feat(mobile): update share service
  apps/mobile/lib/core/services/share_service.dart
Due: clean-dart-comments, dart-format, dart-analyze

feat(mobile): update item card widget
  apps/mobile/lib/presentation/widgets/item_card.dart
Due: clean-dart-comments, dart-format, dart-analyze

feat(mobile): update shell screen
  apps/mobile/lib/presentation/screens/shell_screen.dart
Due: clean-dart-comments, dart-format, dart-analyze

refactor(mobile): improve share service and theme structure
  apps/mobile/flutter_01.png
  apps/mobile/lib/core/services/share_service.dart
  apps/mobile/lib/presentation/theme/app_theme.dart
  apps/mobile/lib/presentation/widgets/item_card.dart
Due: clean-dart-comments, dart-format, dart-analyze

docs: rewrite root readme with feature highlights and visual placeholders
  README.md
  apps/mobile/README.md
  apps/mobile/flutter_01.png
  apps/mobile/lib/presentation/theme/app_theme.dart
Due: clean-dart-comments, dart-format, dart-analyze

style: lowercase rem branding across all files
  README.md
  apps/mobile/lib/main.dart
  apps/mobile/lib/presentation/screens/auth_screen.dart
  apps/mobile/lib/presentation/screens/home_screen.dart
  apps/mobile/pubspec.yaml
  apps/mobile/test/widget_test.dart
  docs/01-PRD.md
  docs/02-ARCHITECTURE.md
  docs/03-CICD.md
  docs/04-SECURITY.md
  docs/05-DEVELOPMENT-STANDARDS.md
  docs/06-REPOSITORY-SETUP.md
  docs/UI-DESIGN-GUIDE.md
  extension/background.js
  extension/manifest.json
  extension/popup.html
  extension/popup.js
  package.json
Due: clean-dart-comments, dart-format, dart-analyze, clean-js-comments

[ImgBot] Optimize images
  apps/mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  apps/mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  apps/mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  apps/mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  apps/mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  apps/mobile/assets/images/rem-bg.png
  apps/mobile/assets/images/rem_logo.png
Due: none

chore: clean up hook and service comments
  apps/mobile/lib/core/services/metadata_service.dart
  apps/mobile/lib/core/services/share_service.dart
Due: clean-dart-comments, dart-format, dart-analyze

feat(mobile): add notification service and setup
  apps/mobile/android/build.gradle.kts
  apps/mobile/lib/core/services/notification_service.dart
  apps/mobile/lib/main.dart
  apps/mobile/lib/presentation/screens/shell_screen.dart
  apps/mobile/lib/presentation/widgets/sync_status_indicator.dart
  apps/mobile/lib/providers/notification_provider.dart
  apps/mobile/pubspec.yaml
Due: clean-dart-comments, dart-format, dart-analyze

feat(mobile): add sync status and search index
  apps/mobile/lib/data/database/database.dart
  apps/mobile/lib/data/sync/sync_engine.dart
Due: clean-dart-comments, dart-format, dart-analyze

feat(mobile): enhance item detail editing
  apps/mobile/lib/presentation/screens/item_detail_screen.dart
Due: clean-dart-comments, dart-format, dart-analyze

style(mobile): align top spacing across tabs
  apps/mobile/lib/presentation/screens/home_screen.dart
  apps/mobile/lib/presentation/screens/profile_screen.dart
  apps/mobile/lib/presentation/screens/search_screen.dart
  apps/mobile/lib/presentation/screens/stats_screen.dart
Due: clean-dart-comments, dart-format, dart-analyze

feat(mobile): update add item sheet
  apps/mobile/lib/presentation/widgets/add_item_sheet.dart
Due: clean-dart-comments, dart-format, dart-analyze
